<ion-view title="Carrera" hide-nav-bar="true" id="page6">
  <ion-content padding="true" style="background: url(img/41xBFqulRJ2LJz7IJe2T_RTtoDf1469584314.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 178px;"></div>
    <form id="carrera-form2" class="list">
      <div class="spacer" style="width: 300px; height: 79px;"></div>
      <label class="item item-select" id="carrera-select2">
        <span class="input-label">Carrera...</span>
        <select>
          <option>Medicina</option>
          <option>Arquitectura</option>
          <option>Derecho</option>
          <option>Economía</option>
          <option>Nutrición</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 74px;"></div>
      <a ui-sref="tabsController.preguntas" id="carrera-button3" class="button button-calm button-small button-block">Continuar</a>
    </form>
  </ion-content>
</ion-view>