<ion-view title="Login" hide-nav-bar="true" id="page14">
  <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
    <div class="spacer" style="height: 100px;"></div>
    <div>
      <img src="img/bcTvUbOKQ22falaikwgg_LogoCool.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 53.9896px;"></div>
    <button id="login-button15" class="button button-positive  button-block icon-left ion-social-facebook">Facebook Login</button>
    <form id="login-form3" class="list">
      <div class="spacer" style="height: 40px;"></div>
    </form>
  </ion-content>
</ion-view>