<ion-view title="Preguntas" id="page2">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div id="preguntas-button-bar1" class="button-bar"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <a style="display:block;" ui-sref="tabsController.pregunta1">
        <img src="img/ua4eEVEuSjurds78sANT_hDx5FY1469584975.jpg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 6px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <a style="display:block;" ui-sref="tabsController.pregunta1">
        <img src="img/GFy8nmOURmixKLlpZpvw_mzSgEQ1469585185.jpg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>