<ion-view title="Pregunta 3" id="page9">
  <ion-content padding="true" style="background: url(img/W7srDwwTQLuLc82YkC6N_gray.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="list card" id="pregunta3-card26">
      <div class=" item item-image">
        <img src="img/QMzumJ6qTe2qj9Rt86mF_body_muscles.jpg" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="pregunta3-list-item-container8">
        <div class="item item-body" id="pregunta3-list-item-container10">
          <div id="pregunta3-markdown6" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">¿Cuantos músculos tiene el cuerpo humano?</p>
          </div>
        </div>
      </div>
    </div>
    <ion-list id="pregunta3-list7">
      <ion-item class="item-icon-right" id="pregunta3-list-item16">690
        <i class="icon ion-android-radio-button-on icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="pregunta3-list-item17">639
        <i class="icon ion-android-radio-button-on icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="pregunta3-list-item18">508
        <i class="icon ion-android-radio-button-on icon-accessory"></i>
      </ion-item>
    </ion-list>
    <a ui-sref="tabsController.resultados" id="pregunta3-button10" class="button button-positive  button-block">Continuar</a>
  </ion-content>
</ion-view>