<ion-view title="Pregunta 2" id="page8">
  <ion-content padding="true" style="background: url(img/W7srDwwTQLuLc82YkC6N_gray.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="list card" id="pregunta2-card25">
      <div class="item item-body" id="pregunta2-list-item-container7">
        <div id="pregunta2-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">¿Que tipo de sangre transportan las arterias NO PULMONARES?</p>
        </div>
      </div>
    </div>
    <ion-list id="pregunta2-list6">
      <ion-item class="item-icon-right" id="pregunta2-list-item13">Sangre Oxigenada
        <i class="icon ion-android-radio-button-on icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="pregunta2-list-item14">Sangre de desecho
        <i class="icon ion-android-radio-button-on icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="pregunta2-list-item15">Sangre sin oxìgeno
        <i class="icon ion-android-radio-button-on icon-accessory"></i>
      </ion-item>
    </ion-list>
    <a ui-sref="tabsController.pregunta3" id="pregunta2-button9" class="button button-positive  button-block">Continuar</a>
  </ion-content>
</ion-view>