<ion-view title="Pregunta 1" id="page7">
  <ion-content padding="true" style="background: url(img/W7srDwwTQLuLc82YkC6N_gray.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="list card" id="pregunta1-card24">
      <div class=" item item-image">
        <img src="img/4Me0vtreR7eyqJDRW1aK_huesos-planos1.jpg" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="pregunta1-list-item-container5">
        <div id="pregunta1-markdown1" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Identifica la parte del cuerpo</p>
        </div>
      </div>
    </div>
    <ion-list id="pregunta1-list5">
      <ion-item class="item-icon-right" id="pregunta1-list-item10">Brazo
        <i class="icon ion-android-radio-button-on icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="pregunta1-list-item11">Craneo
        <i class="icon ion-android-radio-button-on icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="pregunta1-list-item12">Cadera
        <i class="icon ion-android-radio-button-on icon-accessory"></i>
      </ion-item>
    </ion-list>
    <a ui-sref="tabsController.pregunta2" id="pregunta1-button8" class="button button-positive  button-block">Continuar</a>
  </ion-content>
</ion-view>