<ion-view title="Resultados" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="resultados-list8">
      <ion-item class="item-thumbnail-left" id="resultados-list-item19">
        <img src="img/OhjP5lEeRz6k1lLDx7pJ_man.jpg">
        <h2>Juan Chacón Mireles</h2>
        <p>Aspirante Medicina</p>
      </ion-item>
    </ion-list>
    <h2 id="resultados-heading3" style="color:#000000;">Preguntas Acertadas:</h2>
    <div id="resultados-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">1- Hueso del Cuerpo: Cadera</p>
    </div>
    <div id="resultados-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">2-Tipo de Sangre: Sangre Oxigenada</p>
    </div>
    <h2 id="resultados-heading4" style="color:#000000;">Preguntas Erroneas:</h2>
    <div id="resultados-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#E72222;">3-Músculos del Cuerpo: 690</p>
    </div>
    <div id="resultados-markdown10" class="show-list-numbers-and-dots"></div>
    <h1 id="resultados-heading5" style="color:#000000;text-align:center;">60% Progreso</h1>
    <ion-list id="resultados-list12">
      <ion-item class="item-icon-left item-icon-right" id="resultados-list-item20">
        <i class="icon ion-star"></i>#8 Ranking Medicina
        <i class="icon ion-stats-bars"></i>
      </ion-item>
    </ion-list>
    <a ui-sref="tabsController.facebook" id="resultados-button11" class="button button-positive  button-block icon-right ion-social-facebook">Compartir Facebook</a>
  </ion-content>
</ion-view>